body {
  background-image: url();
}

section {
  .section-1-wrapper {
    .section-1-bg-image {
      position: relative;
      display: flex;
      justify-content: center;
    }

    .section-1-fully-loaded-image {
      width: 70%;
      margin: -1rem 0 0;
      position: absolute;
      display: flex;
      justify-content: center;
      animation: bounce 500ms ease-in 1;
    }

    .section-1-gifts-image {
      bottom: 0px;
      width: 60%;
      height: auto;
      display: flex;
      justify-content: center;
      position: absolute;

      & img {
        animation: fadeIn 500ms forwards 900ms 1;
        opacity: 0;
      }
    }
  }

  .section-2-wrapper {
    background-color: rgb(139, 187, 136);
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
    padding: var(--gutter) 0;

    .section-2-header-image {
      align-self: center;
      color: white;
      width: 90%;
      background-color: black;
      padding: 1.2rem;
    }

    .section-2-tier {
      width: 90%;
      height: 100px;
      background-color: black;

      &.tier-1 {
        align-self: flex-start;
        // animation: slideRight 500ms ease-in 1;
      }

      &.tier-2 {
        align-self: flex-end;
        // animation: slideLeft 500ms ease-in 1;
      }

      &.tier-3 {
        align-self: flex-start;
        // animation: slideRight 500ms ease-in 1;
      }
    }
  }

  .section-3-wrapper {
    background-color: rgb(138, 162, 240);
    height: 600px;
  }

  .section-4-wrapper {
    background-color: rgb(238, 166, 232);
    height: 600px;
  }

  .section-5-wrapper {
    background-color: rgb(238, 178, 173);
    height: 600px;
  }
}

// Animations
.animate {
  animation: fadeIn 500ms 500ms both;
}

.undo-animate {
  opacity: 0;
}

// Keyframes
@keyframes bounce {
  0% {
    transform: translateY(-600px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// @keyframes slideRight {
//   0% {
//     transform: translateX(-2000px);
//   }
//   50% {
//     transform: translateX(40px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }

// @keyframes slideLeft {
//   0% {
//     transform: translateX(2000px);
//   }
//   50% {
//     transform: translateX(-40px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }
