.section-1-container .section-1-wrapper-mobile {
  display: grid;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .section-1-container .section-1-wrapper-mobile {
    display: none;
  }
}
.section-1-container .section-1-wrapper {
  display: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("assets/background-images/background-image-2560_x_1440.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .section-1-container .section-1-wrapper {
    display: flex;
    justify-content: center;
  }
}
.section-1-container .section-1-wrapper canvas {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.section-1-container .section-1-wrapper .center-images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}
.section-1-container .section-1-wrapper .center-images-wrapper .fully-loaded-image {
  width: 400px;
  margin: -5rem 0 -3rem 0;
}
.section-1-container .section-1-wrapper .center-images-wrapper .fully-loaded-image img {
  animation: bounce 500ms ease-in 500ms 1 both;
  width: 100%;
  height: auto;
}
.section-1-container .section-1-wrapper .center-images-wrapper .gift-bag-image {
  width: 450px;
  position: relative;
  bottom: -5px;
}
.section-1-container .section-1-wrapper .center-images-wrapper .gift-bag-image img {
  animation: fadeIn 500ms ease-in 1s both;
  width: 100%;
  height: auto;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper {
  display: flex;
  height: auto;
  width: 1300px;
  position: absolute;
  bottom: 0px;
  z-index: 0;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .gifts-image-right {
  transform: rotateY(180deg);
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .surfboard-image {
  position: absolute;
  bottom: 194px;
  left: 815px;
  z-index: -1;
  width: 141px;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .surfboard-image img {
  width: 100%;
  height: auto;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .santa-image {
  position: absolute;
  bottom: 213px;
  right: 811px;
  z-index: -1;
  width: 386px;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .santa-image img {
  width: 100%;
  height: auto;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .snowman-image {
  position: absolute;
  bottom: 155px;
  left: 827px;
  z-index: -1;
  width: 337px;
}
.section-1-container .section-1-wrapper .surrounding-images-wrapper .snowman-image img {
  width: 100%;
  height: auto;
}

.section-2-container {
  background-color: #1d304c;
  background-image: url(assets/background-images/section-2-background-blurred.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
}
.section-2-container .section-2-wrapper-mobile {
  display: block;
  padding: 0 var(--gutter) var(--gutter);
  max-width: 768px;
}
@media (min-width: 768px) {
  .section-2-container .section-2-wrapper-mobile {
    display: none;
  }
}
.section-2-container .section-2-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter);
  padding: 0 var(--gutter) var(--gutter);
  max-width: 768px;
}
@media (min-width: 768px) {
  .section-2-container .section-2-wrapper {
    display: flex;
  }
}
.section-2-container .section-2-wrapper .section-2-tier.tier-1 {
  align-self: flex-start;
}
.section-2-container .section-2-wrapper .section-2-tier.tier-2 {
  align-self: flex-end;
}
.section-2-container .section-2-wrapper .section-2-tier.tier-3 {
  align-self: flex-start;
}

.section-3-container {
  background-color: rgb(138, 162, 240);
  height: 600px;
}

.section-4-container {
  background-color: rgb(238, 166, 232);
  height: 600px;
}

.section-5-container {
  background-color: #1d304c;
  background-image: url(assets/background-images/section-2-background-blurred.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--gutter);
  display: flex;
  justify-content: center;
}
.section-5-container .section-5-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  max-width: 300px;
}
@media (min-width: 480px) {
  .section-5-container .section-5-wrapper {
    max-width: 768px;
  }
}
.section-5-container .section-5-wrapper .button-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-half);
}
@media (min-width: 480px) {
  .section-5-container .section-5-wrapper .button-links {
    flex-direction: row;
  }
}
.section-5-container .section-5-wrapper .button-links .btn-group-1,
.section-5-container .section-5-wrapper .button-links .btn-group-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gutter-half);
  width: 100%;
}
@media (min-width: 768px) {
  .section-5-container .section-5-wrapper .button-links .btn-group-1,
  .section-5-container .section-5-wrapper .button-links .btn-group-2 {
    flex-wrap: nowrap;
  }
}
.section-5-container .section-5-wrapper .button-links .btn-group-1 button,
.section-5-container .section-5-wrapper .button-links .btn-group-2 button {
  width: 100%;
}
.section-5-container .section-5-wrapper .logos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media (min-width: 480px) {
  .section-5-container .section-5-wrapper .logos {
    flex-direction: row;
  }
}
.section-5-container .section-5-wrapper .logos .clipsal-logo {
  flex: 2;
}
.section-5-container .section-5-wrapper .logos .sherrif-logo {
  flex: 1;
}

.animate {
  animation: fadeInAndScale 500ms 200ms both;
}

.undo-animate {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-600px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-2000px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(2000px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}/*# sourceMappingURL=style.css.map */