// Hero
.section-1-container {
  border-bottom: 2px solid var(--color-border);
  background-color: #dce1e4;

  .section-1-hero-wrapper-mobile {
    display: grid;
    height: 100%;
    width: 100%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .section-1-hero-wrapper {
    display: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url("assets/background-images/background-image-2560_x_1440.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
    }

    canvas {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      // height: 100%;
      height: 100vh;
      width: 100vw;
    }

    .center-images-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      overflow: hidden;

      .fully-loaded-image {
        width: 400px;
        margin: -5rem 0 -3rem 0;

        & img {
          animation: bounce 500ms ease-in 500ms 1 both;
          width: 100%;
          height: auto;
        }
      }

      .gift-bag-image {
        width: 450px;
        position: relative;
        bottom: -5px;

        & img {
          animation: fadeIn 500ms ease-in 1s both;
          width: 100%;
          height: auto;
        }
      }
    }

    .surrounding-images-wrapper {
      display: flex;
      height: auto;
      width: 1300px;
      position: absolute;
      bottom: 0px;
      z-index: 0;

      .gifts-image-right {
        transform: rotateY(180deg);
      }

      .surfboard-image {
        position: absolute;
        bottom: 194px;
        left: 815px;
        z-index: -1;
        width: 141px;

        & img {
          width: 100%;
          height: auto;
        }
      }

      .santa-image {
        position: absolute;
        bottom: 213px;
        right: 811px;
        z-index: -1;
        width: 386px;

        & img {
          width: 100%;
          height: auto;
        }
      }

      .snowman-image {
        position: absolute;
        bottom: 155px;
        left: 827px;
        z-index: -1;
        width: 337px;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

// Pools
.section-2-container {
  border-bottom: 2px solid var(--color-border);

  background-color: #dce1e4;
  background-image: url(assets/background-images/snow-background-3.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-attachment: fixed;
  }

  .section-2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--gutter);

    .header-wrapper-mobile {
      padding: 0 0 var(--gutter);

      & img {
        width: 100%;
        height: auto;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .header-wrapper {
      display: none;
      flex-direction: column;
      max-width: 800px;
      padding: 0 2rem;

      @media (min-width: 768px) {
        display: flex;
      }

      .header-image {
        z-index: 10;
      }

      .pools {
        &.pool-1 {
          position: relative;
          top: -12px;
          z-index: 9;
        }

        &.pool-2 {
          position: relative;
          top: -30px;
          left: 20px;
          z-index: 8;
        }

        &.pool-3 {
          position: relative;
          top: -36px;
          right: 26px;
          z-index: 7;
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      max-width: var(--width-max);
      padding: 0 0 var(--gutter);

      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--gutter-half);
        padding: var(--gutter-half);
        background: rgb(87 88 88 / 38%);
        border-radius: var(--global-radius);
        // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.7px);
        -webkit-backdrop-filter: blur(1.7px);

        .header-image {
          width: 100%;
          max-width: 120px;
          height: auto;

          @media (min-width: 480px) {
            max-width: 190px;
          }
        }

        .prize-image {
          width: 100%;
          max-width: 140px;
          height: auto;

          @media (min-width: 480px) {
            max-width: 240px;
          }
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// Account Info & Points Redemption
.section-3-container {
  border-bottom: 2px solid var(--color-border);

  background-color: #dce1e4;

  .entry-points-wrapper {
    // max-width: var(--width-max);
    max-width: 800px;
    margin: 0 auto;
    padding: var(--gutter);

    .fully-loaded-points {
      width: 100%;
      margin: 0 auto;
    }

    .account-name.logged-out span {
      background: transparent;
    }

    .account-name span {
      display: flex;
      justify-content: center;
      padding: 0.55rem;
      font-weight: 600;
      font-size: 1rem;
      background: #eee;
    }

    .account-data-row {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }

    .account-data-row span:first-child {
      font-weight: 600;
    }

    .account-data-row span {
      flex: 1 0 auto;
      width: 100%;
      max-width: 50%;
      padding: 0.55rem;
      word-break: break-word;
    }

    .account-data-row:last-child span:last-child {
      font-weight: 600;
      color: #c00;
    }

    .fully-loaded-spinner {
      display: none;
      // display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid;
      border-color: #fed105 transparent transparent;
      filter: hue-rotate(0deg);
      transform: rotate(0deg);
      transition: 0.5s ease;
    }

    .active-spinner {
      display: block;
      animation: fullyLoadedSpinner 0.6s ease infinite;
    }

    // .fully-loaded-buttons {
    //   width: 100%;
    //   padding: var(--gutter);
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 0.75rem;

    //   .btn-reload,
    //   .btn-redeem {
    //     background-color: var(--color-black);
    //     color: var(--_accent);

    //     &:hover {
    //       background-color: var(--_accent);
    //       color: var(--color-black);
    //     }
    //   }
    // }

    .fully-loaded-buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;

      .btn-reload,
      .btn-redeem {
        flex: 1;
        min-width: 150px;
        background-color: var(--color-black);
        color: var(--_accent);

        &:hover {
          background-color: var(--_accent);
          color: var(--color-black);
        }
      }
    }

    .fully-loaded-redeem-form {
      display: none;
      // display: block;
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      padding: 0 var(--gutter);

      & h2 {
        font-size: 1.3rem;
        text-align: center;
        margin: var(--gutter-half) auto;
      }
    }

    .fully-loaded-redeem-form.active-form {
      display: block;
    }

    .fully-loaded-redeem-form .form-row {
      display: -ms-flex;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .fully-loaded-redeem-form .form-row label {
      font-weight: 600;
    }

    .fully-loaded-redeem-form .form-row label,
    .fully-loaded-redeem-form .form-row input[type="text"] {
      margin: 0.35rem;
    }

    .fully-loaded-redeem-form .form-button {
      display: -ms-flex;
      display: flex;
      justify-content: center;
      margin: var(--gutter) 0 0;
    }

    .form-button button[type="submit"] {
      background-color: var(--color-black);
      color: var(--_accent);
      border: 0;
    }

    .form-button button[type="submit"]:hover {
      background-color: var(--_accent);
      color: var(--color-black);
    }

    @media (min-width: 768px) {
      .fully-loaded-points {
        width: fit-content;
      }

      .account-name span {
        min-width: 500px;
      }

      .fully-loaded-redeem-form {
        // width: fit-content;
      }

      .fully-loaded-redeem-form form {
        // min-width: 500px;
      }
    }
  }
}

// Footer
.section-4-container {
  background-color: #dce1e4;
  background-image: url(assets/background-images/snow-background-2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: var(--gutter);
  display: flex;
  justify-content: center;

  .section-4-wrapper {
    background: rgba(67, 80, 97, 0.67);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    padding: var(--gutter);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-half);

    @media (min-width: 480px) {
      max-width: 800px;
    }

    .button-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--gutter-half);

      @media (min-width: 480px) {
        flex-direction: row;
      }

      .btn-group-1,
      .btn-group-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gutter-half);
        width: 100%;

        @media (min-width: 768px) {
          flex-wrap: nowrap;
        }

        button {
          width: 100%;
          background-color: var(--color-black);
          color: var(--_accent);
          border: 0;

          &:hover {
            background-color: var(--_accent);
            color: var(--color-black);
          }
        }
      }
    }

    .logos {
      display: flex;
      flex-direction: column;
      gap: var(--gutter-half);
      align-items: center;

      @media (min-width: 480px) {
        flex-direction: row;
        gap: var(--gutter);
      }

      .clipsal-logo {
        flex: 2;
      }

      .sherrif-logo {
        flex: 1;
      }
    }
  }
}

// Animations
.animate {
  animation: fadeInAndScale 500ms 200ms both;
}

.undo-animate {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-600px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fullyLoadedSpinner {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}

// @keyframes slideRight {
//   0% {
//     transform: translateX(-2000px);
//   }
//   50% {
//     transform: translateX(40px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }

// @keyframes slideLeft {
//   0% {
//     transform: translateX(2000px);
//   }
//   50% {
//     transform: translateX(-40px);
//   }
//   100% {
//     transform: translateX(0px);
//   }
// }
